<h1>{{title}}</h1>
<ul class="computers">
  <li *ngFor="let computer of computers" (click)="onSelect(computer)" [class.selected]="computer === selectedComputer">
    <span class="cname" *ngIf="!computer.editing" (dblclick)="onDblClick(computer)">{{computer.name}}</span>
    <input class="cname" *ngIf="computer.editing" (blur)="doneEditing(computer)" [(ngModel)]="computer.name" />
    <span class="cmac">{{computer.mac}}</span>
  </li>
</ul>

<div id="contain">
  <computer-detail [computer]="selectedComputer"></computer-detail>
</div>
